<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- ************************************************************************
     Douglas DC-3 C47
     
     January 2011 BARANGER Emmanuel
     January 2012 modified by PAF team : http://http://equipe-flightgear.forumactif.com
     December 2012 updated  by Helijah : http://helijah.free.fr / http://embaranger.free.fr
     April    2016 updated  by Helijah : http://helijah.free.fr / http://embaranger.free.fr
     ************************************************************************
-->
<PropertyList>

  <default>
    <menu n="10">
      <label>DC-3</label>
      <enabled type="bool">true</enabled>
      <item>
        <label>Options</label>
        <binding>
          <command>dialog-show</command>
          <dialog-name>config</dialog-name>
        </binding>
      </item>
      <item>
        <label>Select Livery</label>
        <binding>
          <command>nasal</command>
          <script>aircraft.livery.dialog.toggle()</script>
        </binding>
      </item>
    </menu>
  </default>

</PropertyList>
